{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Recipes</h1>

    <div class="row">
        {% for recipe in recipes %}
            <article style="box-sizing: border-box;width: 33%;float: left;padding: 0 1em 0 0;">
                <div class="card">
                    <div class="card__title" style="background-color: white;">
                        <a style="width: 100%;padding: 0;" class="button--link" href="/{{ lang }}/{{ recipe[lang]['name'] }}/">{{ recipe[lang]['title'] }}</a>
                    </div>
                    <div class="card__container">
                        <img src="/{{ lang }}/{{ recipe[lang]['name'] }}/{{ recipe[lang]['mainPicture'] }}" alt=""/>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>

    {% if langs|length > 0 %}
        <p style="margin-top: 2em;">
            Find also recipes in:&nbsp;
            {% for lang in langs %}
                <a href="/{{ lang }}/{{ recipes[lang]['name'] }}">{{ lang|langName }}</span></a>&nbsp;
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}
