{% extends 'layout.html.twig' %}

{% block main %}
    <h1>{{ 'menu.recipes'|trans }}</h1>

    <div class="filterContainer"></div>

    <div class="row filterableContainer">
        {% for recipe in recipes %}
            <article class="filterable" data-filter-tag='{{ recipe[app.locale]['tags']|json_encode|raw }}' style="box-sizing: border-box;width: 33%;float: left;padding: 0 1em 0 0;">
                <div class="card">
                    <div class="card__title" style="background-color: white;padding: 0;height: 6em;line-height: 6em;">
                        <a style="line-height: 1.5;vertical-align: middle;height: auto;" class="button--link" href="/{{ app.locale }}/{{ recipe[app.locale]['name'] }}/">{{ recipe[app.locale]['title'] }}</a>
                    </div>
                    <div class="card__container">
                        <img src="/{{ app.locale }}/{{ recipe[app.locale]['name'] }}/{{ recipe[app.locale]['mainPicture'] }}" alt=""/>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>

    {% if langs|length > 0 %}
        <p style="margin-top: 2em;">
            {{ 'interface.find_recipes_in'|trans }}&nbsp;
            {% for lang in langs %}
                <a href="/{{ lang }}/{{ recipes[lang]['name'] }}">{{ lang|langName }}</span></a>&nbsp;
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="/assets/js/filter.js"></script>
{% endblock %}
