{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- FONTS -->
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower|Raleway:400,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600' rel='stylesheet' type='text/css'>

    <!-- BASE.CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main/main.css"/>
{% endblock %}

{% block body %}
    <div class="contentWrapper">
        <header>
            <a href="{{ base_url }}/{{ app.locale }}/index.html">
                <img src="/assets/images/bowl.png" alt=""/>
                <h1>VeganBowl recipes</h1>
            </a>
        </header>

        <nav>
            <ul>
                <li><a class="button--link" href="/{{ app.locale }}/index.html">{{ 'menu.recipes'|trans }}</a></li>
                <li><a class="button--link" href="#">{{ 'menu.contribute'|trans }}</a></li>
                <li><a class="button--link" href="/{{ app.locale }}/translation-state.html">{{ 'menu.translation_state'|trans }}</a></li>
            </ul>
        </nav>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            Footer
        </footer>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {#<script src="#"></script>#}
{% endblock %}
