{% extends 'layout.html.twig' %}

{% block main %}
    <h1>{{ meta.title }}</h1>

    {% if langs|length > 0 %}
    <p>
        {{ 'interface.find_this_recipe_in'|trans(lang) }}&nbsp;
        {% for lang in langs %}
            <a href="/{{ lang }}/{{ recipes[lang]['name'] }}/index.html">{{ lang|langName }}</span></a>&nbsp;
        {% endfor %}
    </p>
    {% endif %}

    <div class="row">
        <div class="medium-8 column" style="padding-left: 0;">
            {% if mainPicture is defined %}
                <img class="card" src="{{ mainPicture }}" alt=""/>
            {% endif %}

            <div class="recipe">
                {{ content|raw }}
            </div>
        </div>
        <div class="medium-4 column" style="padding-right: 0;">
            <div class="sticker">
                <div class="sticker__content">{{ meta.cooking_time }} min.</div>
                <div class="sticker__head">{{ 'interface.recipe.cooking_time'|trans(lang) }}</div>
            </div>
            <div class="sticker">
                <div class="sticker__content">{{ meta.preparation_time }} min.</div>
                <div class="sticker__head">{{ 'interface.recipe.preparation_time'|trans(lang) }}</div>
            </div>
            <div class="sticker">
                <div class="sticker__content">{{ meta.nb_persons }} pers.</div>
                <div class="sticker__head">{{ 'interface.recipe.serves'|trans(lang) }}</div>
            </div>
            <div class="sticker">
                <div class="sticker__content">{{ meta.price_per_person }}</div>
                <div class="sticker__head">{{ 'interface.recipe.price_per_person'|trans(lang) }}</div>
            </div>
        </div>
    </div>
{% endblock %}
