{% extends 'layout.html.twig' %}

{% set main_item_type = "http://schema.org/Recipe" %}

{% block main %}
    <meta itemprop="inLanguage" content="{{ app.locale }}">
    <h1 itemprop="name">{{ meta.title }}</h1>

    {% if langs|length > 0 %}
    <p>
        {{ 'interface.find_this_recipe_in'|trans }}&nbsp;
        {% for lang in langs %}
            <a href="/{{ lang }}/{{ recipes[lang]['name'] }}/index.html">{{ lang|langName }}</span></a>&nbsp;
        {% endfor %}
    </p>
    {% endif %}

    <div class="row">
        <div class="medium-8 column" style="padding-left: 0;">
            {% if mainPicture is defined %}
                <img itemprop="image" class="card" src="{{ mainPicture }}" alt=""/>
            {% endif %}

            <div itemprop="recipeInstructions" class="recipe">
                {{ content|raw }}
            </div>
        </div>
        <div class="medium-4 column" style="padding-right: 0;">
            <div class="sticker">
                <div class="sticker__content">
                    <meta itemprop="cookTime" content="PT{{ meta.cooking_time }}M">
                    {{ meta.cooking_time }} min.
                </div>
                <div class="sticker__head">{{ 'interface.recipe.cooking_time'|trans }}</div>
            </div>
            <div class="sticker">
                <div class="sticker__content">
                    <meta itemprop="prepTime" content="PT{{ meta.preparation_time }}M">
                    {{ meta.preparation_time }} min.
                </div>
                <div class="sticker__head">{{ 'interface.recipe.preparation_time'|trans }}</div>
            </div>
            <div class="sticker">
                <div itemprop="recipeYield" class="sticker__content">{{ meta.nb_persons }} pers.</div>
                <div class="sticker__head">{{ 'interface.recipe.serves'|trans }}</div>
            </div>
            <div class="sticker">
                <div class="sticker__content">{{ meta.price_per_person }}</div>
                <div class="sticker__head">{{ 'interface.recipe.price_per_person'|trans }}</div>
            </div>
        </div>
    </div>
{% endblock %}
